.tableShadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
}

.action {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-img {
  border-radius: 8px;
}

.top-search {
  display: flex;
  gap: 10px;
}